
#accordion_statement h4.panel-title a{text-decoration: none; display: block; padding: 10px 15px; font-size: 0.9em}
#accordion_statement .panel-heading{padding: 0}
#actividades_economicas .panel-group .panel-heading .panel-collapse .panel-body{border-top:0px solid; }
#actividades_economicas table td, 
#actividades_economicas table th,
#crearDeclaracion td,
#crearDeclaracion th,
.table-declaracion td,
.table-declaracion th, 
.table-declaracion .text-center{text-align: center}
#crearDeclaracion .tooltip-inner{text-align: left; white-space: pre}
.gmap3{width: 100%; height: 400px;}
.input-span{font-weight: bold; background-color: #eeeeea}
.titulillo,
.table-declaracion tbody span:not(.form-control){font-size: 0.84em;}
.table-declaracion td {vertical-align: middle !important}
td.push-bottom{vertical-align: bottom !important}
#fDeclaraciones .panel-heading .title {padding-left:0; padding-top: 7px}
#fDeclaraciones .nowrap {white-space: nowrap} 
#fDeclaraciones .list-activities{max-height:300px; overflow-y: scroll; overflow-x: hidden}