html, body{height: 100%}
body{
   /*background-color: #f5f5f5;*/
	padding-top: 70px;
  position: relative;
}

.center{text-align: center}

#contenido{
	padding: 0 5px;
}

.no-rounded{border-radius: 0}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}


table .col-buttons{
	width: 22%;
}



textarea.form-control{
  height: 150px !important;
}

.inline{display: inline-block;}


#wrapper{
  min-height: 100%;
  margin-bottom: -220px;
}

#wrapper:after{
  content: "";
  display: block;
}

#footer, #wrapper:after{
  height: 220px;
}

#footer{border-top: 3px #f47b20 solid;}

#footer address.rentas {
  background: url(img/logo_rentas_ams_118x78.jpg) 0 0 no-repeat;
}

#footer address.ams {
  background: url(img/logo_ams_150x78.jpg) 0 0 no-repeat;
}

#footer address {
margin: 5px 0 0 0;
padding: 5px 0 5px 200px;
height: 100px;
font-size: 14px;
overflow: hidden;
}

ul { list-style-type: none; }

.table.center th{text-align: center;}
.panel .well{margin-bottom: 0 !important}


#accordion .glyphicon, #accordion .fa { margin-right:10px; }
#accordion .panel-body { padding:0px; }
#accordion .panel-body table tr td { padding-left: 15px }
#accordion .panel-body .table {margin-bottom: 0px; }

#accordion .fa{width: 14px; font-size: 14px}

#accordion .panel-title .caret{
  margin-top: 6px;
}

.navbar .navbar-right{
  margin-right: 0px !important;
}

#sidebar{padding: 0}

#accordion .panel-title, #accordion .table td{font-size: 12px}

#accordion .panel-title a:hover{text-decoration: none;}

#accordion .panel-heading:hover{cursor: pointer;}

#accordion .panel-heading:hover a.underline{text-decoration: underline;}

.breadcrumb{
  text-align: right;
}

  /*Panel tabs*/

.panel-tabs {
    border-bottom: 1px solid transparent;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

.modal .modal-body{
  /*height: 250px;*/
  overflow: auto;
  overflow-x:hidden;
}

.bootbox.modal .modal-body{
  height: auto;
}

#modalTasas .input-group{
  margin-bottom: 5px;
}

#modalTasas .input-group .input-group-addon:hover{
  cursor: pointer;
}

[type="radio"]:hover, [type="checkbox"]:hover{cursor: pointer;}

.modal .modal-header{background-color: #f47b20}
.modal .modal-header .modal-title{color:white;}

.tooltip-inner {
    max-width:500px;
    text-align: left;
}

.center-center{
  display:table;
  height: 100%;
  width: 100%;
}

.center-center .center-vertically{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}

.cursor-hover{cursor: pointer;}

.no-photo-error{background-color:#f2dede;}
.no-photo{background-color:#eee;}

.panel-heading .hint-caption{
  font-size: 0.85em;
  position: relative;
  top: 10px;
}

#main > h3{
  border-bottom: 1px dotted #f47b20;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.tabs-primary .panel-heading ul.panel-tabs li a[data-toggle=tab] {font-size: 0.9em !important;}

div.pie{display:none;}

p#contacto a{
  width:300px;
  height:400px;
  white-space: pre-wrap; /* css-3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

span.separator{
  bottom: 1px;
  position: relative;
  font-size: 1.4em;
  margin-left: 3px;
  color: #f47b20;
}

.tooltip-breakline .tooltip-inner{text-align: left; white-space: pre}

div.tabs-primary .panel-heading li.pull-right a {
  font-weight: bold; 
  border-radius: 2px; 
  border: 1px solid rgba(255, 255, 255, .6);
}
div.tabs-primary .panel-heading li.pull-right a:hover{
  background-color: rgba(255,255,255, .23);
}
div.tabs-primary .panel-heading li.pull-right a:hover .badge {
  background-color: #f47b20;
}

/*.panel.tabs-primary{margin-bottom: 50px !important; height: 50px !important} */

@media (min-width : 768px) {
  .panel-tabs > li {
      float: left;
      margin-bottom: -1px;
  }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}