$row-change: antiquewhite;

div.table {

    .row {
        position: relative;
        padding: 8px 0;
        border-top: 1px solid #ddd;

        .overlay {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #E76A0B;
            cursor: pointer;
            padding: 8px 0;

            span {
                font-weight: bold;
            }

        }

        &.hover .overlay {
            display: block;
        }

        &.changed {
            background-color: $row-change;
        }
    }

    .head {
        font-weight:bold;
        border-top: none;
        border-bottom: 1px solid #ddd;
    }

}

.modal {

    [currency] {
        max-width: 150px;
        text-align:center;
    }

    .modal-lg {
        width: 80%;
    }

}

.input-span {
    font-weight: bold;
    background-color: #eeeeea;
    text-align:center;
}

table {
    th, td {
        text-align:center;
    }

    td .form-control {
        display:inline-block;
    }
}